[mysqld]
#default-storage-engine=myisam
#ignore-builtin-innodb
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
#old_passwords=1  #<-------------Mysql Connector in PICAPS will not connect to MariaDB if this is uncommented
max_allowed_packet=32M
     
[mysql.server]
user=mysql
#basedir=/var/lib #<-------------MariaDB will NOT start up with this uncommented

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
