[Desktop Entry]
Name=<%= @name %>
Comment=IntelliJ IDEA - The most intelligent IDE
MimeType=text/x-java;
Exec=<%= @product_root %>/bin/idea.sh
Icon=<%= @product_root %>/bin/idea.png
Type=Application
Terminal=0
MapNotify=false
Categories=Utility;TextEditor;
X-Desktop-File-Install-Version=0.15
