# System default configuration for puppet-lint.
#
# WARNING:
#   This file is managed by puppet via the "puppet" module.

# Inheriting from a module's own params class is actually beneficial.
--no-class_inherits_from_params_class-check

# Until the Puppet DSL provides a way to wrap long strings this sadly is
# needed.
--no-80chars-check

# vim: filetype=conf
