[Desktop Entry]
Name=PyCharm (<%= @build %>)
Comment=Powerful Python and Django IDE
MimeType=text/x-java;
Exec=<%= @product_root %>/bin/pycharm.sh
Icon=<%= scope.lookupvar("jetbrains::pycharm::pycharm_icon") %>
Type=Application
Terminal=0
MapNotify=false
Categories=Utility;TextEditor;
X-Desktop-File-Install-Version=0.15
