[Desktop Entry]
Name=PyCharm (<%= @name %>)
Comment=Powerful Python and Django IDE
MimeType=text/x-java;
Exec=<%= @product_root %>/bin/pycharm.sh
Icon=<%= @product_root %>/bin/pycharm.png
Type=Application
Terminal=0
MapNotify=false
Categories=Utility;TextEditor;
X-Desktop-File-Install-Version=0.15
